<div class='card mb-3'>
  <div class='card-body'>
    <i><b>How to sign up and become a member:</b></i>
    <p class='mt-3'></p>
</div></div>

<div class='card mb-3'>
  <div class='card-body'>
    <i><b>What can I do as a member?</b></i>

    <ul class='mt-3'>
      <li>Access the full ReproSci website including all existing annotations.</li>
      <li>Comment on existing annotations in order to contribute evidence, suggest additions or modifications to assessments, or discuss the annotation or claim with other members.</li>
      <li>Contribute experimental evidence towards a claim (contact us for details and a list of claims to reproduce).</li>
    </ul>
</div></div>

<div class='card mb-3'>
  <div class='card-body'>
    <i><b>How do I search?</b></i>
    <p class='mt-3'>
    To find an article, type in a keyword from the paper title or author name in the search bar. The author or keyword must be an exact match (e.g. if searching for the author `Takehana', `Takeha' will not return any results; if searching for Derr&eacute;, then Derre without the accent will return no results). Click on the desired article card to view the page for that article.
    </p>
</div></div>

<div class='card mb-3'>
  <div class='card-body'>

    <i><b>Annotation sections and their purpose: Each annotation is divided into a number of distinct sections:</b></i>


<ul class='mt-3'>
<li>Reference: Title, authors, and publishing information for the relevant paper</li>
<li>Abstract: Abstract of the relevant paper as it appears on NCBI/PubMed</li>
<li>Main claim: The major overall finding of the relevant paper. This is usually the assertion summarized by the title of the paper.</li>
<li>Major claims: The main findings of the relevant paper, typically the individual findings that support the main claim. These are usually extracted from the major points summarized in the abstract.</li>
<li>Minor claims: Additional findings of the relevant paper, typically those not specifically mentioned in the abstract. These may represent additional assertions that support the major or main claims of the paper, or may represent tangential findings mentioned in the paper.</li>
<li>Methods: A short summary of the major methodologies used in the relevant paper.</li>
<li>Additional context: Additional information that may be useful for understanding or contextualizing the claims and assessments of the relevant paper. This may include an updated and expanded summary of what is known about the genes and pathways discussed in the paper, or a more centralized overall assessment of the claims.</li>
<li>References: A bibliography of sources cited in the claim assessments. Each reference has a hyperlink directing the user to an online record of that source.</li>
</ul>
</div></div>


<div class='card mb-3'>
  <div class='card-body'>
    <i><b>Gene buttons: </b></i>
    <p class='mt-3'>
    Gene names in the annotations that have boxes around them (e.g. Mekk1, PGRP-LE, slimb) are clickable buttons. Clicking on the button will display an info pop-up summarizing information including gene name synonyms and links to the Ensembl and FlyBase pages relevant to that gene.
</p>
</div></div>

<div class='card mb-3'>
  <div class='card-body'>
    <i><b>How to cite the project:</b></i> 
<p class='mt-3'>
    Westlake H, David F, Lemaitre B. 2023. Fly Immunity ReproSci Database. https://reprosci.epfl.ch/
</p>
</div></div>

<div class='card mb-3'>
  <div class='card-body'>

<i><b>Associated publications:</b></i>
<p class='mt-3'>
A scientific publication reporting the main results of the reproducibility project is scheduled to be published at the end of 2023.  
</p>

</div></div>


