<!--<span class='text-danger'>Not validated</span>-->
<button id='validated-btn' class='btn btn-outline-danger' type='button'>
  Not validated <!--<%= (@article.validated_at) ? 'Validated' : 'Not validated' %>-->
</button>


