<div class='float-right'><%= link_to 'New Article', new_article_path %></div>

<div id='search_container' class=''></div>

<%= javascript_tag do %>

$(document).ready(function(){

refresh("search_container", "<%= search_articles_path(:nolayout => 1) %>", {loading:'fa-2x'})

})

<!--<%# javascript_tag do %>

$("#articles").dataTable({"order" : [[4, 'desc']]})
-->

<% end %>
